/* body{
    padding: 0;
    margin: 0;
} */

.hehe{
    position: relative;
}

.hehe img{
    max-width: 100%;
    height: auto;
}

.banner-text{
    position: absolute;
    top: 4%;
    color: black;
    padding: 10px;
}

.banner-text h3 h5 p{
    font-size: 26px;
    text-transform: uppercase;
    font-weight: bold;
    margin-bottom: 5px;
}

.card-header {
    background: rgb(52, 73, 94);
    color: #fff;
}

.radio-item input[type="radio"]{
    visibility: hidden;
    width: 20px;
    height: 20px;
    margin: 0 5px 0 5px;
    padding: 0;
    cursor: pointer;
}
    /* before atyle */
.radio-item input[type="radio"]:before{
    position: relative;
    margin: 4px -25px -4px 0;
    display: inline-block;
    visibility: visible;
    width: 20px;
    height: 20px;
    border-radius: 10px;
    border: 2px inset rgb(150, 150, 150, 0.75);
    background: radial-gradient(ellipse at top left, rgb(255, 255, 255) 0%, rgb(250, 250, 250) 5%, rgb(230, 230, 230) 95%, rgb(225, 225, 225) 100%);
    content: '';
    cursor: pointer;
}

.text-menu {
    font-size: 1.3rem;
    color: white;
    margin: auto;
}

/* checked after style */
.radio-item input[type="radio"]:checked:after{
    position: relative;
    top: 0;
    left: 9px;
    display: inline-block;
    border-radius: 6px;
    visibility: visible;
    width: 12px;
    height: 12px;
    background: radial-gradient(ellipse at top left, rgb(240, 255, 220) 0%, rgb(225, 250, 100) 5%, rgb(75, 75, 0) 95%, rgb(25, 100, 0) 100%);
    content: '';
    cursor: pointer;
}

/* after checked */
.radio-item input[type="radio"].true:checked:after {
    background: radial-gradient(ellipse at top left, rgb(240, 255, 220) 0%, rgb(225, 250, 100) 5%, rgb(75, 75, 0) 95%, rgb(25, 100, 0) 100%);
}

.radio-item input[type="radio"].false:checked:after {
    background: radial-gradient(ellipse at top left, rgb(255, 255, 255) 0%, rgb(250, 250, 250) 5%, rgb(230, 230, 230) 95%, rgb(225, 225, 225) 100%);
}

.radio-item label {
    display: inline-block;
    margin: 0;
    padding: 0;
    line-height: 25px;
    height: 25px;
    cursor: pointer;
}

.flex-container {
    display: flex;
    align-items: center;
    justify-content: start;
    flex-wrap: wrap;
    background-color: #90be6d;
    border-radius: 10px;
    cursor: pointer;
}

.flex-container > a {
    background-color: #ffd384;
    border-radius: 10px;
    width: 28%px;
    height: 50px;
    margin: 8px;
    text-align: center;
    flex: 0 1 122px;
    word-wrap: break-word;
}

.voucher {
    background-color: #ffd384;
    border-radius: 10px;
    width: 15%;
}

  /* .berhasil{
      font-size: 0;
      width: 35px;
      height: 35px;
      background-color: white;
      border-radius: 50%;
      border-inline-color: #ffd384;
      border-left-color: transparent;
      animation: rotate 1.4s ease 0.5s infinite;
  } */
  /* @keyframes rotate {
      0%{
          transform: rotate(360deg);
      }
  } */

  /* .success{
      position: relative;
      background-color: white;
      animation: bounce .3s ease-in;
  }
  @keyframes bounce{
      0%{
          transform: scale(0.9);
      }
  } */
  /* .success:before{
      content: '';
      position: absolute;
      background: url('/images/check-solid.svg') no-repeat;
      left: 0;
      right: 0;
      margin: 0 auto;
      width: 25px;
      height: 25px;
      line-height: 25px;
      top: 5px;
  } */

.select-table{
    color: white;
}
.scroll{
    /* border: 1px solid black; */
    margin-top: 10px;
    height: 400px;
    padding: 15px;
    overflow-y: auto;
}

.scroll::-webkit-scrollbar{
    width: 12px;
    background-color: #ddd;
}

.scroll::-webkit-scrollbar-thumb{
    background-color: #ffd384;
    border-radius: 6px;
}

.get_menu{
    overflow-y: auto;
    height: 370px;
}

.get_menu::-webkit-scrollbar{
    width: 10px;
    background-color: #ddd;
}

.get_menu::-webkit-scrollbar-thumb{
    background-color: #ffd384;
    border-radius: 6px;
}

.nav-wrap{
    cursor: pointer;

}

.show_menu{
    background-color: #ffd384;
}
.img_sold{
    position: relative;
    width: 100%;
}
.img_sold img{
    width: 100%;
}
.text_sold{
    font-size: 20px;
    position: absolute;
    top: 40%;
    width: 100%;
    text-align: center;
}

.text_menu{
    font-size: 15px;
}

.refresh{
    background-color: #ffd384;
}

.img_menu_show{
    height:135px;
    width:100%;
}

.show_menus{
    height: 210px;
    width: 190px;
}

@media only screen and (max-width: 575px){
    .nav-wrap{
        margin-top: 20px;
    }
}

@media only screen and (max-width: 405px){
    .text_menu{
        font-size: 14px;
    }
    .show_menus{
        width: 180px;
    }
}
@media only screen and (max-width: 385px){
    .text_menu{
        font-size: 12px;
    }
    .show_menus{
        width: 160px;
    }
    .img_menu_show{
        width: 100%;
    }
}

@media only screen and (max-width: 768px) {
    /* .nav-tabs{
        display: flex;
        flex-wrap: wrap;
        background-color: DodgerBlue;
        width: 100%;
    } */

    /* .nav-tabs > a {
        background-color: #ffd384;
        width: 20%;
        text-align: center;
    } */
    .nav-wrap{
        margin-top: 20px;
    }
}

@media only screen and (max-width: 900px) {
    .flex-container > a {
        background-color: #ffd384;
        border-radius: 10px;
        width: 28%;
        margin: 6px;
        text-align: center;
        flex: 0 1 122px;
        word-wrap: break-word;
      }

    .sizePayment {
        padding: 7px;
    }
  }
